.container{
    width: 550px;
    margin: 0 auto;
    text-align: center;
}

header{
    margin: 5% 0;
    font-size: 1.6rem;
    font-family: 'serif';
}

.scratch-pad{
    background-color: #F2DAFF;
    height: 400px;
    width: 100%;
    display: table;
    font-family: 'sans-serif';
}

.message{
    font-size: 0.85rem;
    line-height: 1.3;
    margin-top: 1%;
    font-family: 'sans-serif';
}

footer{
    font-size: 0.65rem;
    margin: 6% 0;
    text-align: justify;
    line-height: 1.1;
    font-family: 'sans-serif';
}

@media only screen and (max-width: 550px) {
    .container{
        width: 400px;
    }
    .scratch-pad{
        height: 290px;
    }
}

@media only screen and (max-width: 400px) {
    header{
        font-size: 1.4rem;
    }
    .container{
        width: 320px;
    }
    .scratch-pad{
        height: 232px;
    }
}

@media only screen and (max-width: 320px) {
    .container{
        width: 290px;
    }
    .scratch-pad{
        height: 210px;
    }
}
